[Unit]
Description=obsscheduler
After=syslog.target network.target basic.target obssrcserver.service
Requires=obssrcserver.service obsrepserver.service
BindsTo=obssrcserver.service obsrepserver.service

[Service]
EnvironmentFile=/etc/sysconfig/obs-server
ExecStart=/bin/sh -c 'for i in $(/usr/lib/obs/server/bs_admin --show-scheduler-architectures); do /usr/lib/obs/server/bs_sched $i >> "$OBS_LOG_DIR/"scheduler_$i.log 2>&1 & ; done
ExecStop=/bin/sh -c 'for i in $(/usr/lib/obs/server/bs_admin --show-scheduler-architectures); do /usr/lib/obs/server/bs_admin --shutdown-scheduler "$i" ; done
Type=forking
User=obsrun
Group=obsrun

[Install]
WantedBy=multi-user.target


