[Unit]
Description=obsigner
After=syslog.target network.target basic.target obssrcserver.service
Requires=obssrcserver.service
BindsTo=obssrcserver.service

[Service]
EnvironmentFile=/etc/sysconfig/obs-server

Type=simple
ExecStart=/usr/lib/obs/server/bs_signer 2>&1 | tee $OBS_LOG_DIR/signer.log
ExecStop=/usr/lib/obs/server/bs_signer --stop
ExecReload=/usr/lib/obs/server/bs_signer --restart
User=obsrun
Group=obsrun

[Install]
WantedBy=multi-user.target
